<div class="container">
  <div class="row justify-content-center">
    <!-- Apply the *ngFor to the card's container, essentially a for loop that for every local var
         hero in heroes array, we let i = index which creates a copy of div element and its contents,
         sets the hero variable to current array item like batman or superman, then sets the i
         variable to the current index, 0, 1, 2 etc. and renders this copy w appropriate data! -->
    <div class="col-md-4 mb-4" *ngFor="let hero of heroes; let i = index">
      <div class="card" style="width: 16rem;">
        <!-- Hero image - to get it is done as hero.image in src... instead of placeholder -->
        <img class="card-img-top" [src]="hero.image" alt="{{ hero.name }}">
        
        <div class="card-body">
          <!-- Hero name as card title -->
          <h5 class="card-title">{{ hero.name }}</h5>
          <!-- Hero description as card text -->
          <p class="card-text">{{ hero.description }}</p>
        </div>
        
        <ul class="list-group list-group-flush">
          <!-- Hero properties as list items -->
          <li class="list-group-item">Debut Date: {{ hero.debutDate }}</li>
          <li class="list-group-item">House: {{ hero.house }}</li>
        </ul>
        
        <div class="card-body text-center">
          <!-- Action buttons -->
          <div class="d-flex flex-column gap-2">
            <a [routerLink]="['/heroe', hero.id]" class="btn btn-primary btn-sm">
              View Details
            </a>
            
            <a [routerLink]="['/edit-hero', hero.id]" class="btn btn-warning btn-sm">
              Edit Info
            </a>
            
            <button (click)="onDeleteHero(hero.id)" class="btn btn-danger btn-sm">
              Delete Hero
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>