<!-- Main Form Container -->
<div class="modal-container">
  <!-- Modal Dialog -->
  <div class="modal-dialog modal-lg">
    <div class="modal-content" [ngClass]="modalTheme">
    
      <!-- Form Header -->
      <div class="modal-header">
        <h4 class="modal-title">Uso de directivas</h4>
      </div>
      
      <!-- Form Body -->
      <div class="modal-body">
        <div class="row">
        
          <!-- NgModel  -->
          <div class="col-md-6 mb-3">
            <div class="card">
              <!-- Card Header -->
              <div class="card-header text-center">
                Directivas - Ng Model
              </div>
              
              <!-- Card Body -->
              <div class="card-body text-center">
                <p>Ingrese texto y se reflejara abajo</p>
                
                <!-- NgModel binds this input to the inputText variable, then displays it w {{inputText}} -->
                <input 
                  type="text" 
                  class="form-control mb-2" 
                  [(ngModel)]="inputText"
                  placeholder="Escriba aquí...">
                
                <!-- Display the entered text -->
                <p><strong>Ingresaste:</strong> {{ inputText }}</p>
              </div>
            </div>
          </div>

          <!-- NgStyle  -->
          <div class="col-md-6 mb-3">
            <div class="card">
              <div class="card-header text-center">
                Directivas - Ng Style
              </div>
              
              <!--  ngStyle binds the cardStyle object which has a background color,
              and a transition time so that we can change the color on the card object 
              dymanically with a press of the button-->
              <div class="card-body text-center" [ngStyle]="cardStyle">
                <p>Presione el boton para cambiar el fondo de la card</p>
                
                <!-- Button to change background color -->
                <button 
                  class="btn btn-primary" 
                  (click)="changeCardBackground()">
                  Cambiar
                </button>
              </div>
            </div>
          </div>
          
          <!-- NgClass Example -->
           <div class="col-md-6 mb-3">
            <div class="card">
              <div class="card-header text-center">
                Directivas - Ng Class
              </div>
              
              <div class="card-body text-center">
                <p>Presione el botón para cambiar el color del contenedor</p>
                
                <!-- Btn... base color class. Then Button to change the entire modal color -->
                <button 
                  class="btn" 
                  [ngClass]="buttonClass"
                  (click)="changeModalTheme()">
                  Cambiar
                </button>
              </div>
            </div>
          </div>
          
          <!-- Ng-Switch -->
          <div class="col-md-6 mb-3">
            <div class="card">
              <div class="card-header text-center">
                Directivas - Ng Switch
              </div>
              
              <div class="card-body text-center">
                <p>Seleccione un héroe:</p>
                
                <select class="form-control mb-2" [(ngModel)]="selectedHero">
                  <option value="">Seleccione</option>
                  <option value="superman">Superman</option>
                  <option value="batman">Batman</option>
                  <option value="wonderwoman">Wonder Woman</option>
                  <option value="flash">Flash</option>
                </select>
                
                <div [ngSwitch]="selectedHero" class="mt-2">
                  <p *ngSwitchCase="'superman'" class="text-primary">
                    Has seleccionado a Superman!
                  </p>
                  <p *ngSwitchCase="'batman'" class="text-dark">
                    Has seleccionado a Batman!
                  </p>
                  <p *ngSwitchCase="'wonderwoman'" class="text-danger">
                    Has seleccionado a Wonder Woman!
                  </p>
                  <p *ngSwitchCase="'flash'" class="text-warning">
                    Has seleccionado a Flash!
                  </p>
                  <p *ngSwitchDefault>
                    Por favor seleccione una opción
                  </p>
                </div>
              </div>
            </div>
          </div>
          
        </div> 
      </div>
      
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button 
          type="button" 
          class="btn btn-secondary" 
          routerLink="/home">
          Cerrar Modal
        </button>
      </div>
      
    </div>
  </div>
</div>