<div class="hero-form-container">
  <h2>Add New Hero</h2>
  
  <form [formGroup]="formulario">
    <!-- Name -->
    <mat-form-field>
      <input matInput formControlName="nombre" placeholder="Enter name of hero">
      <mat-error *ngIf="formulario.get('nombre').hasError('required') && formulario.get('nombre').touched">
        Name is required
      </mat-error>
    </mat-form-field>
    
    <!-- Description -->
    <mat-form-field>
      <textarea matInput formControlName="descripcion" placeholder="Enter description of hero"></textarea>
      <mat-error *ngIf="formulario.get('descripcion').hasError('required') && formulario.get('descripcion').touched">
        Description is required
      </mat-error>
    </mat-form-field>
    
    <!-- Image URL -->
    <mat-form-field>
      <input matInput formControlName="imagen" placeholder="Enter image of hero">
      <mat-error *ngIf="formulario.get('imagen').hasError('required') && formulario.get('imagen').touched">
        Image URL is required
      </mat-error>
    </mat-form-field>
    
    <!-- Date with calendar picker -->
    <mat-form-field>
      <input matInput [matDatepicker]="picker" formControlName="fechaAparicion" placeholder="Enter date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="formulario.get('fechaAparicion').hasError('required') && formulario.get('fechaAparicion').touched">
        Date is required
      </mat-error>
    </mat-form-field>
    
    <!-- House/Publisher -->
    <mat-form-field>
      <mat-select formControlName="casa" placeholder="Enter the house of the hero">
        <mat-option value="Marvel">Marvel</mat-option>
        <mat-option value="DC">DC</mat-option>
      </mat-select>
      <mat-error *ngIf="formulario.get('casa').hasError('required') && formulario.get('casa').touched">
        House is required
      </mat-error>
    </mat-form-field>
    
    <!-- Save Button -->
    <button [disabled]="!formulario.valid" mat-raised-button color="primary" (click)="guardar()">
      Save
    </button>
  </form>
</div>